.range
{
    margin-top: 24px;
}

.analytics-loading
{
    color: #999;
}

.analytic-dates
{
    line-height: 34px;
}

.analytics-graph-zoom
{
    color: #999;
    padding-top: 32px;
    text-align: center;
}

